# This file contains the versions of all the libraries. This file is required to tell 
# render that these are the libraries that it needs ot install. 

click==8.1.6
Flask
Jinja2==3.1.2
joblib==1.3.1
numpy==1.26.4
scikit-learn==1.2.2